<div class="search-form" style="margin-top: 50px;" >
    <form method="post" action="">
        <div class="form-group mt-33">
            <label for="search-input" class="form-label">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
        </div>

    <select name="gender" id="gender-input" class="form-control mt-3">
        <option value="">--Chọn giới tính--</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>

        <button type="submit" class="btn btn-primary mt-3">Tìm kiếm</button>
    </form>
</div>